<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.lenguyenthanh.snowball"
  >

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:fullBackupContent="true"
    android:allowBackup="true"
    android:name=".app.SnowBallApplication"
    >
    <activity
      android:name=".ui.feature.videos.VideoListActivity"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
          android:host="snowball.lenguyenthanh.com"
          android:pathPrefix="/main"
          android:scheme="http"
          />
      </intent-filter>
    </activity>
    <activity android:name=".ui.feature.playVideos.PlayVideoActivity"
      android:screenOrientation="portrait"
      />
  </application>

</manifest>
